/* Hero section */

.section-hero {
  background-color: #f5e9f7;
  padding: 4rem 1.25rem;
}

.hero {
  max-width: 81.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
}

.hero-img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 0.625rem;
}

.hero-img-box {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Birthdate - Top Left */
.birthdate {
  position: absolute;
  top: 55%;
  left: -10%;
  background-color: #d7a9df;
  color: #3e1046;
  padding: 8px 12px;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  white-space: nowrap;
}

/* Origin - Top Right */
.origin {
  position: absolute;
  top: 70%;
  right: -7%;
  background-color: #d7a9df;
  color: #3e1046;
  padding: 8px 12px;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  white-space: nowrap;
}

.hero-text-box {
  margin-bottom: 6.25rem;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  margin: 0 auto;
  padding-bottom: 3.125rem;
  text-align: left;
}

/* Styles for the LinkedIn-style button */
.linkedin-btn {
  background: transparent;
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgb(0, 119, 181);
  border-radius: 1.5rem;
  outline: none;
  overflow: hidden;
  color: rgb(0, 119, 181);
  height: 3rem;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  z-index: 2;
}

.linkedin-btn span {
  margin: 10px;
}

.linkedin-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.linkedin-btn:hover {
  color: #fff;
  border: 2px solid rgb(0, 119, 181);
}

.linkedin-btn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3.125rem;
  gap: 0.625rem;
  width: 100%;
}

.CV-btn {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.CV-btn:hover::before {
  transform: scaleX(1);
}

.CVcontent-btn {
  position: relative;
  z-index: 1;
}

.CV-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* Background container */
.bottom-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bubble-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* Bubble styling */
.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(1) {
  left: 30%;
  top: 20%;
}

.bubble:nth-child(2) {
  left: 35%;
  top: 25%;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  left: 5%;
  top: 7%;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  left: 85%;
  top: 3%;
  animation-delay: -3s;
}

@keyframes animate_4010 {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f5e9f7;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #ba68c8;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #6d1b7b;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #d7a9df;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #9c27b0;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #f5e9f7;
  filter: blur(8px);
  transform: rotate(330deg);
}

/* why me section */

.whyme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 880px;
  margin: 0 auto;
  padding: 1rem;
}

.whyme-container p {
  width: 100%;
  margin-top: 0.9375rem;
}

/* Technical skills and development skills */

/* General Styles */
.section-skills {
  padding: 2.5rem 0 1.25rem;
}

.section-skills h3 {
  margin-bottom: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content Container */
.content-container {
  display: flex;
  gap: 2.5rem;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

/* gif */
.gif-container {
  grid-column: 1;
  margin-top: 1.875rem;
  padding: 0.625rem;
  order: 1;
}

.gif-container img {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  margin-top: auto;
}

/* Skills Column */
.skills-column {
  flex: 1.5;
}

.skills-container {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
  flex-wrap: wrap;
}

.skill-item {
  text-align: center;
  min-width: 100px;
}

.skills-container label {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
  text-align: center;
}

.skill-item img {
  width: 4rem;
  height: 4rem;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 auto 0.3125rem;
  box-shadow: 4px 4px 0px black;
  object-fit: contain;
}

/* Progress Bars */
.progress {
  width: 5.625rem;
  height: 0.625rem;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.progress::-webkit-progress-bar {
  background-color: #e1bee7;
  border-radius: 6px;
}

.progress::-webkit-progress-value {
  background-color: #9c27b0;
  border-radius: 6px;
}

.progress::-moz-progress-bar {
  background-color: #9c27b0;
  border-radius: 6px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  position: relative;
}

.skills-column {
  grid-column: 1;
}

.languages-column {
  grid-column: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests-column {
  grid-column: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Languages Column */
.languages-column {
  flex: 1;
}

.languages-list,
.soft-list,
.quotes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.languages-list li,
.soft-list li,
.quotes-list li {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

/* Interests Column */
.interests-column {
  flex: 1;
}

.interests-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests-list li {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.interests-list img {
  width: 15.625rem;
  height: 15.625rem;
  margin-left: 0.625rem;
}

/* Image Background Colors */
img[alt="Adobe XD Icon"] {
  background-color: #470137;
  padding: 0.1875rem;
}

img[alt="Procreate Icon"] {
  background-color: #242424;
  padding: 0.1875rem;
}

img[alt="CSS3 Icon"] {
  background-color: #663399;
  padding: 0.1875rem;
}

@media (max-width: 768px) {
  /* Hero Section Adjustments */
  .hero {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 1rem;
  }

  .section-hero {
    padding: 1rem 1rem;
  }

  .hero-img-box {
    order: -1;
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-contentmobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .birthdate,
  .origin {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0.5rem 0;
    display: inline-block;
  }

  .hero-text-box {
    text-align: center;
    margin-bottom: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
  }

  /* Why Me Section */
  .whyme-container {
    padding: 1rem;
  }

  .whyme-container p {
    font-size: 1rem;
  }

  /* Skills Section */
  .content-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 2rem;
  }

  .skills-column,
  .languages-column,
  .interests-column {
    grid-column: 1;
    width: 100%;
  }

  .skills-container {
    justify-content: center;
  }

  .skill-item {
    flex: 0 1 40%;
    margin: 0.5rem;
  }

  .gif-container {
    max-width: 100%;
    margin: 1rem auto;
  }

  /* Languages & Soft Skills */
  .languages-column {
    background-color: #f5e9f780;
  }

  .languages-list li,
  .soft-list li,
  .quotes-list li {
    font-size: 1rem;
    text-align: center;
  }

  /* Interests List */
  .interests-list li {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0rem;
  }

  .interests-list img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0.5rem 0;
  }

  /* Quotes Section */
  .quotes-list li {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  /* General Typography */
  .heading-primary {
    font-size: 1.8rem;
  }

  .heading-secondary {
    font-size: 1.5rem;
  }

  .heading-tertiary {
    font-size: 1.2rem;
  }
}

/* github button */
.git-btn {
  justify-content: center;
}

.btn-github {
  cursor: pointer;
  display: inline-flex;
  gap: 0.75rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 1rem 1.25rem;
  font-size: 0.95rem;
  line-height: 1.25rem;

  background-color: #3e1046;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #d7a9df;
  transform: translate(0, -0.25rem);
  background-color: #3e1046;
}
