/* Hero section */

.section-hero {
  background-color: #f5e9f7;
  padding: 6.4rem 2rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 1rem;
}

.hero-img-box {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Birthdate - Top Left */
.birthdate {
  position: absolute;
  top: 55%;
  left: -10%;
  background-color: #d7a9df;
  color: #3e1046;
  padding: 8px 12px;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
}

/* Origin - Top Right */
.origin {
  position: absolute;
  top: 70%;
  right: -7%;
  background-color: #d7a9df;
  color: #3e1046;
  padding: 8px 12px;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
}

.hero-text-box {
  margin-bottom: 10rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  text-align: left;
}

.li-btn {
  display: inline-block;
  border-radius: 1.5rem;
  padding: 0;
  margin: 0;
  width: 8rem;
  height: auto;
}

.li-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  gap: 1rem;
  width: 100%;
}

/* why me section */

.whyme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 880px;
  margin: 0 auto;
  padding: 1rem;
}

.whyme-container p {
  width: 100%;
  margin-top: 1.5rem;
}

/* Technical skills and development skills */

/* General Styles */
.section-skills {
  padding: 4rem 0 2rem;
}

.section-skills h3 {
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content Container */
.content-container {
  display: flex;
  gap: 4rem;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* gif */
.gif-container {
  grid-column: 1;
  margin-top: 3rem;
  padding: 1rem;
  order: 1;
}

.gif-container img {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  margin-top: auto;
}

/* Skills Column */
.skills-column {
  flex: 1.5;
}

.skills-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.skill-item {
  text-align: center;
  min-width: 100px;
}

.skills-container label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.skill-item img {
  width: 6.4rem;
  height: 6.4rem;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 auto 0.5rem;
  box-shadow: 4px 4px 0px black;
  object-fit: contain;
}

/* Progress Bars */
.progress {
  width: 9rem;
  height: 1rem;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.progress::-webkit-progress-bar {
  background-color: #e1bee7;
  border-radius: 6px;
}

.progress::-webkit-progress-value {
  background-color: #9c27b0;
  border-radius: 6px;
}

.progress::-moz-progress-bar {
  background-color: #9c27b0;
  border-radius: 6px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  position: relative;
}

.skills-column {
  grid-column: 1;
}

.languages-column {
  grid-column: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests-column {
  grid-column: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Languages Column */
.languages-column {
  flex: 1;
}

.languages-list,
.soft-list,
.quotes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.languages-list li,
.soft-list li,
.quotes-list li {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Interests Column */
.interests-column {
  flex: 1;
}

.interests-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests-list li {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.interests-list img {
  width: 25rem;
  height: 25rem;
  margin-left: 1rem;
}

/* Image Background Colors */
img[alt="Adobe XD Icon"] {
  background-color: #470137;
  padding: 0.3rem;
}

img[alt="Procreate Icon"] {
  background-color: #242424;
  padding: 0.3rem;
}

img[alt="CSS3 Icon"] {
  background-color: #663399;
  padding: 0.3rem;
}
